/* body{
    margin: 0;
    padding: 0;
} */
.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0; right: 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
input{
    width: 70%; 
    height: 7%;
}
textarea{
    width: 70%;
    height: 20%;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.submitButton{
    width: 7rem;
    padding: .5rem 1rem;
    background-color: blue;
    color: white;
}
.cancelForm{
    width: 7rem;
    padding: .5rem 1rem;
    background-color: red;
    color: white;
}
