body{
   margin: 0; 
   padding: 0;
}
.post{
    background-color: yellowgreen;
    color: white;
    padding: .5rem 2rem;
}
.allPostContainer{
    width: 60%;
    margin-top: 1.5rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.generalContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elementsContainer{
    margin-left: 2rem; margin-right: 2rem;
}
/* .header{
    background-color: red;
} */
.postLists{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: .1rem solid grey;
    padding-bottom: 1.5rem;
}